* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: 'Times New Roman', '微軟正黑體', Times, serif;
}

.container_1 {
    width: 50%;
    margin: 0 auto;
    @media screen and(max-width:550px) {
        font-size: 20px;
    }

    main {
        p {
            font-size: 30px;
            color: red;
        }

        ul {
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 0;
        }
    }

}

.container_2 {
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
    @media screen and(max-width:550px) {
        width: 100%;
        font-size: 16px;
    }

    .section {
        width: 100%;
        padding: 5px;

        .section_m {
            text-align: center;

            .section_m_ul {
                list-style-type: none;
                display: flex;
                margin: 0;
                padding: 0;

                li {
                    width: calc(100% / 7);
                    padding: 3px 10px;
                }
            }
        }

        .section_d {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .section_div {
                width: calc(100% / 7);
                padding: 3px 10px;
                text-align: center;
            }
        }
    }
}